# Ignore everything
*

# But not these files...
!.gitignore
!exclusv-ai-assistant.php
!README.md
!style.css

# ...and not these folders...
!includes/
!assets/

# ...and not these specific files
!includes/*.php
!assets/*.css
!assets/*.js